html, body {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

kbd {
    display: block;
    /*font-size: 2vw;*/
    font-size: 2em;
}

.wrapper {
    /*This will put the divs in a row*/
    display:flex;
    background: #cc00d8;
    /*background: #a2f6f6;*/
    height: 100vh;
    /*removes the stretch default for keys and centers them*/
    align-items: center;
    justify-content: center;
}

.keys {
    display: flex;
    flex-basis: 400px;
    flex-wrap: wrap;
    justify-content: center;
}

.key {
    color: #000000;
    font-weight: bold;
    /*background: rgba(128,0,128,0.2);*/
    background: #FFFFFF;
    text-align: center;
    /*border: 2px solid #8A2BE2;*/
    /*border: 2px solid #0ff;*/
    /*border: 2px solid #cc00d8*/
    width: 70px;
    margin: 1rem;
    border: 2px solid black;
    border-radius: 10px;
    /*width: 7em;*/
    /*width: 4vw;*/
    transition: all 0.1s ease;
    box-shadow: 2px 3px 0px 1px black;

}

.sound-name {
    font-family: monospace;
    /*font-size: .8vw;*/
}

.pressed {
    /*background: #00fff9;*/
    /*background: #7bf0db;*/
    background: #50eac7;
    box-shadow: 0px 0px 0px 0px;
}
/*
@media all and (max-width: 920px) {
    .keys {
        width: 75%;
        flex-wrap: wrap;
    }
}

@media all and (max-width: 500px) {
    .keys {
        width: 70%;
        flex-wrap: wrap;
}
*/
@media all and (min-width: 600px) {
    .keys {
        flex-basis: 600px;
        justify-content: center;
    }
}
@media all and (min-width: 1000px) {
    .keys {
        flex-basis: 100%;
        flex-wrap: none;
        justify-content: center;
    }
}
